<div class="component__inner dialogue__inner">
  {{> component this}}

  <div class="dialogue__button button is-visible">
    <button class="dialogue__start-btn btn js-dialogue-start-click" aria-label="{{{buttonText}}}">
      {{{buttonText}}}
    </button>
  </div>

  <div class="dialogue__main">
  {{#each _items}}
  <div class="dialogue__speech">
    <img class="dialogue__character-image" src="{{{characterImage _character}}}" aria-hidden="true" />
    <div class="dialogue__character-content">
      <div class="dialogue__character-name">{{{characterName _character}}}</div>
      <div class="dialogue__character-text">{{{text}}}</div>
    </div>
  </div>
  {{/each}}

  <div class="dialogue__complete" />

  </div>
</div>
